.row
  %h4.title
    = yield :search_result_title
  .row.collections
    - movies.each do |movie|
      .col-sm-3
        = link_to movie_detail_path(movie.slug),{"data-turbolinks" => "false"} do
          .card.card-background{:style => "background-image: url(#{image_path variant_url(movie.thumbnail, :medium)})"}
            .card-content
              %label.label.label-primary.episode
                = 'EPS ' + movie.videos.count.to_s 
              %h2.card-title 
                = movie.name