- content_for :head do
  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
    .carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        - latest_movies.count.times do |i|
          %li.active{class: get_class(i),"data-slide-to" => "#{i}", "data-target" => "#carousel-example-generic"}
      / Wrapper for slides
      .carousel-inner
        - latest_movies.each_with_index do |movie, i| 
          .item{class: get_class(i)}
            .page-header.header-filter{:style => "background-image: url('#{image_path variant_url(movie.thumbnail, :medium)}');"}
              .container
                .row
                  .col-md-6.text-left
                    %h1.title 
                      = movie.name
                    %h6.category.text-info 
                      = movie_genre(movie)
                    %h4 
                      = movie.description 
                    %br/
                    .buttons
                      = link_to movie_detail_path(movie.slug) do
                        .btn.btn-primary.btn-lg
                          Watch Now
      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
        %i.material-icons keyboard_arrow_left
      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
        %i.material-icons keyboard_arrow_right