%nav.navbar.navbar-default.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navigation-example", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to home_path, class: 'navbar-brand' do
        EasyMoviy
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to movie_index_path do
            %i.material-icons home
            = 'Home'
        - Type.all.each do |type|
          %li
            = link_to type_movie_path(type.slug) do
              %i.material-icons movie
              = type.name
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.material-icons view_day
            Genre
            %b.caret
          %ul.dropdown-menu.dropdown-with-icons
            - Genre.all.each do |genre|
              %li
                = link_to genre.name, genre_movie_path(genre.slug)
            
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.material-icons view_carousel
            Country
            %b.caret
          %ul.dropdown-menu.dropdown-with-icons
            - Country.all.each do |country|
              %li
                = link_to country.name, country_movie_path(country.slug)